<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../common.css" />
    <link rel="stylesheet" href="../../nav.css" />
    <link rel="stylesheet" href="../../pageBody.css" />
    <link rel="stylesheet" href="../../footer.css" />
    <!--  -->
    <link rel="stylesheet" href="./skills.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
  </head>
  <body class="min-vh-100">
    <!-- nav start -->
    <nav class="my-nav position-fixed top-0 w-100 d-flex justify-content-center">
      <div class="nav-body d-flex align-items-center text-white">
        <div class="logo-wrapper">
          <a class="logo-link" href="../../index.html">
            <img class="logo-image" src="../../images/logo-white.png" alt="logo" />
          </a>
        </div>
        <!--  -->
        <ul class="nav-link d-flex">
          <li class="nav-link--item"><a href="../about/index.html">About me</a></li>
          <li class="nav-link--item"><a href="../skills/index.html">Skills</a></li>
          <li class="nav-link--item"><a href="../portfolio/index.html">Portfolio</a></li>
        </ul>
      </div>
    </nav>
    <!-- nav end -->

    <!-- page-body start -->
    <section id="skills" class="page-body">
      <div class="skill-row d-flex left section-center">
        <div class="skill-container">
          <div class="skill-header">
            <span class="skill-header--title">Design</span>
            <div class="skill-header--br right"></div>
          </div>
          <!--  -->
          <div class="skill-body d-flex justify-content-between flex-wrap">
            <img
              class="skill-icon"
              width="121"
              height="117"
              src="../../images/skill_ai.png"
              alt="ai"
            />
            <img
              class="skill-icon"
              width="121"
              height="117"
              src="../../images/skills_ps.png"
              alt="ps"
            />
            <img
              class="skill-icon"
              width="121"
              height="117"
              src="../../images/skills_xd.png"
              alt="xd"
            />
            <img
              class="skill-icon"
              width="117"
              height="117"
              src="../../images/skills_rhino.png"
              alt="skills_rhino"
            />
          </div>
        </div>
      </div>
      <!--  -->
      <div class="skill-row d-flex right section-center">
        <div class="skill-container">
          <div class="skill-header">
            <div class="skill-header--br left"></div>
            <span class="skill-header--title">Coding</span>
          </div>
          <!--  -->
          <div class="skill-body d-flex justify-content-between flex-wrap">
            <img
              class="skill-icon"
              width="92"
              height="118"
              src="../../images/skills_html.png"
              alt="skills_html"
            />
            <img
              class="skill-icon"
              width="92"
              height="118"
              src="../../images/skills_css.png"
              alt="skills_css"
            />
            <img
              class="skill-icon"
              width="92"
              height="118"
              src="../../images/skills_js.png"
              alt="skills_js"
            />
            <img
              id="c-coding"
              class="skill-icon"
              width="117"
              height="118"
              src="../../images/skills_C.png"
              alt="skills_c"
            />
            <img
              id="python-icon"
              class="skill-icon"
              width="124"
              height="118"
              src="../../images/skills_python.png"
              alt="skills_python"
            />
          </div>
        </div>
      </div>
      <!--  -->
      <div class="skill-row d-flex left section-center">
        <div class="skill-container">
          <div class="skill-header">
            <span class="skill-header--title">License</span>
            <div class="skill-header--br right"></div>
          </div>
          <!--  -->
          <div class="skill-body d-flex license-container">
            <img width="221" height="170" src="../../images/skills_License.png" alt="License" />
            <div class="license-body">
              <p class="license-body--text">GTQ 1급 - Photoshop CS6</p>
              <p class="license-body--text">GTQi 1급 - Illustrator CS6</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- page-body end -->

    <!-- footer start -->
    <footer
      class="
        my-footer
        d-flex
        flex-column
        align-items-center
        justify-content-between
        position-relative
        bottom-0
        text-white
        w-100
      "
    >
      <div class="logo-wrapper">
        <img class="logo-image" src="../../images/logo-white.png" alt="logo" />
      </div>
      <ul class="footer-list d-flex justify-content-around w-100">
        <li class="footer-list--item">
          <p class="footer-list--title">Division</p>
          <p class="footer-list--item">Hanyang Univ. ERICA</p>
          <p class="footer-list--item">Major of Design Technology</p>
        </li>
        <li class="footer-list--item">
          <p class="footer-list--title">Contact</p>
          <p class="footer-list--item">Phone +82 87090528</p>
          <p class="footer-list--item">E-mail. hriny1285@gmail.com</p>
        </li>
        <li class="footer-list--item">
          <p class="footer-list--title">Contact</p>
          <p class="footer-list--item">KakaoTalk ID. Taemtaem0718</p>
          <p class="footer-list--item">Instagram ID. rinn_0718</p>
        </li>
      </ul>
      <p class="copyright">ⓒ HYERINRYU</p>
    </footer>
    <!-- footer end -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
