<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../common.css" />
    <link rel="stylesheet" href="../../nav.css" />
    <link rel="stylesheet" href="../../pageBody.css" />
    <link rel="stylesheet" href="../../footer.css" />
    <!--  -->
    <link rel="stylesheet" href="../skills/skills.css" />
    <link rel="stylesheet" href="./portfolio.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
  </head>
  <body class="min-vh-100">
    <!-- nav start -->
    <nav class="my-nav position-fixed top-0 w-100 d-flex justify-content-center">
      <div class="nav-body d-flex align-items-center text-white">
        <div class="logo-wrapper">
          <a class="logo-link" href="../../index.html">
            <img class="logo-image" src="../../images/logo-white.png" alt="logo" />
          </a>
        </div>
        <!--  -->
        <ul class="nav-link d-flex">
          <li class="nav-link--item"><a href="../about/index.html">About me</a></li>
          <li class="nav-link--item"><a href="../skills/index.html">Skills</a></li>
          <li class="nav-link--item"><a href="../portfolio/index.html">Portfolio</a></li>
        </ul>
      </div>
    </nav>
    <!-- nav end -->

    <!-- page-body start -->
    <section id="portfolio" class="page-body d-flex flex-column align-items-center">
      <div class="skill-container section-center">
        <div class="skill-header">
          <div class="skill-header--title">Illustrator</div>
          <div class="skill-header--br right"></div>
        </div>
        <!--  -->
        <div class="portfolio-body">
          <div class="gallery d-flex justify-content-between flex-wrap">
            <img id="fish1" class="illust" src="../../images/illustration_fish01.png" alt="fish1" />
            <img class="illust fish2" src="../../images/illustration_fish02.png" alt="fish2" />
            <img class="illust fish2" src="../../images/illustration_fish03.png" alt="fish3" />
          </div>
          <div class="body--text">
            <span class="body--title">물고기의 꿈</span>
            <p class="body--main">
              금붕어라는 물고기에 제 자아를 투영하여 몽상가적 기질이 있으며 자유롭고 상상력이 풍부한
              저의 모습을 담아낸 작품입니다. 첫 번째 그림부터 차례로 그림의 스토리가 이어집니다.
              처음에는 풍선이라는 물질에 의존을 하며 자유를 찾았다면, 시간이 지나 풍선이라는 물질
              없이 스스로 진정한 자유를 찾아가 떠나며, 이로써 자신의 자아를 찾아가는 스토리입니다.
            </p>
          </div>
        </div>
      </div>

      <!--  -->
      <div class="skill-container section-center">
        <div class="skill-header">
          <div class="skill-header--br left"></div>
          <div class="skill-header--title">Photoshop Artworks</div>
        </div>
        <!--  -->
        <div class="portfolio-body">
          <div class="artwork-gallery">
            <div class="gallery-row d-flex align-items-baseline justify-content-start">
              <div class="gallery-col col-300 d-inline-flex flex-column">
                <img
                  class="img-300"
                  width="300"
                  height="410"
                  src="../../images/portfolio4.png"
                  alt="img4"
                />
                <div class="body--text">
                  <span class="body--title">Afternoon</span>
                  <p class="body--main">
                    어느 휴일 오후 휴양지에서 붉은 태양이 지는 하늘 아래 수영하는 모습을 합성 및
                    보정한 작품입니다.
                  </p>
                </div>
              </div>
              <!--  -->
              <div id="journey" class="gallery-col right col-410 d-inline-flex">
                <img
                  class="img-410"
                  width="410"
                  height="410"
                  src="../../images/portfolio_journey.png"
                  alt="img5"
                />
                <div class="body--text">
                  <span class="body--title">A long journey</span>
                  <p class="body--main">
                    이승에서의 삶을 다하고 저승으로 떠나는 길을 아름답게 표현한 합성 및 보정
                    작품입니다. 슬픔이나 미련, 후회 보다는 긴 여행같았던 이승에서의 삶에 대한 보람을
                    표현하고자 하였으며, 삶을 마치고 휴식을 취하러 가는 듯한 느낌을 주고자 했습니다.
                  </p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="gallery-row d-flex">
              <div id="flower" class="gallery-col d-inline-flex">
                <div class="body--text">
                  <span class="body--title">熙花</span>
                  <p class="body--main">
                    ‘熙花(빛나는 꽃)’이라는 주제로 동양풍의 느낌을 담아낸 합성 및 보정 작품입니다.
                    한 여성이 이른 새벽에 수영을 마치고 나와 태양빛에 빛나는 풍경을 감상하는
                    장면입니다.
                  </p>
                </div>
                <img
                  class="img-300"
                  width="300"
                  height="410"
                  src="../../images/portfolio_hwa.png"
                  alt="img6"
                />
              </div>
              <!--  -->
              <div class="gallery-col col-410 d-inline-flex flex-column">
                <img
                  class="img-410"
                  width="410"
                  height="410"
                  src="../../images/portfolio_wonder.png"
                  alt="img7"
                />
                <div class="body--text">
                  <span class="body--title">熙花</span>
                  <p class="body--main">
                    꿈 속의 한 장면과 같이 몽환적이고 환상적인 세계를 표현한 합성 및 보정
                    작품입니다.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="skill-container section-center">
        <div class="skill-header">
          <div class="skill-header--title">Character Design</div>
          <div class="skill-header--br right"></div>
        </div>
        <!--  -->
        <div class="portfolio-body">
          <div class="character-gallery d-flex justify-content-between flex-wrap">
            <img
              class="character-image"
              width="249"
              height="269"
              src="../../images/character_wooli.png"
              alt="character1"
            />
            <img
              class="character-image"
              width="189"
              height="269"
              src="../../images/character_wooli_face.png"
              alt="character2"
            />
            <img
              class="character-image"
              width="359"
              height="269"
              src="../../images/character3.png"
              alt="character3"
            />
            <img
              class="character-image"
              width="300"
              height="269"
              src="../../images/character4.png"
              alt="character4"
            />
          </div>
          <!--  -->
          <div class="body--text">
            <span class="body--title">Wooli</span>
            <p class="body--main">
              wooli라는 이름을 가진 양 캐릭터입니다. 밝고 긍정적이고 애교가 많은 성격의
              소유자입니다. 뜨개질을 하는 취미를 가지고 있습니다. 세 번째, 네 번째 사진은 이
              캐릭터를 쿠션과 뱃지, 에코백에 입혀 본 시안입니다.
            </p>
          </div>
        </div>
      </div>

      <div class="skill-container section-center">
        <div class="skill-header">
          <div class="skill-header--br left"></div>
          <div class="skill-header--title">Package Design</div>
        </div>
        <!--  -->
        <div class="portfolio-body">
          <div class="package-gallery d-flex justify-content-between flex-wrap">
            <div>
              <img
                width="315"
                height="446"
                class="package-image cat"
                src="../../images/package_cat01.png"
                alt="cat1"
              />
              <img
                width="315"
                height="446"
                class="package-image cat"
                src="../../images/package_cat02.png"
                alt="cat2"
              />
            </div>
            <div>
              <img
                width="315"
                height="446"
                class="package-image dog"
                src="../../images/package_dog01.png"
                alt="dog1"
              />
              <img
                width="315"
                height="446"
                class="package-image dog"
                src="../../images/package_dog02.png"
                alt="dog2"
              />
            </div>
          </div>
          <div class="body--text">
            <span class="body--title">Dr.L&P</span>
            <p class="body--main">
              Dr.L&P의 강아지와 고양이 간식 패키지 디자인입니다. 강아지와 고양이를 각각 의인화한
              캐릭터를 통해 소비자와의 커뮤니케이션을 높여 접근하고자 하였습니다. 특히 생애주기 및
              상태 별로 각각 캐릭터를 만들어 소비자들의 시각적 재미와 또 이들이 제품을 선택하는
              과정에서의 재미도 고려하였습니다.
            </p>
          </div>
        </div>
      </div>

      <div class="skill-container section-center">
        <div class="skill-header">
          <div class="skill-header--title">Poster Design</div>
          <div class="skill-header--br right"></div>
        </div>
        <!--  -->
        <div class="portfolio-body d-flex justify-content-between">
          <div class="poster-gallery">
            <img
              width="520"
              height="736"
              class="poster-image"
              src="../../images/poster.png"
              alt="poster"
            />
          </div>
          <div class="body--text">
            <span class="body--title">Seoul Dessert Fair</span>
            <p class="body--main">
              2019 서울 디저트 페어 - 딸기전의 포스터 리디자인 작업입니다. 딸기라는 컨셉과
              디저트라는 컨셉에 맞게 전체적으로 핑크계열을 사용해 달콤함을 강조하고자 하였으며, 메인
              타겟층인 1020 여성들을 사로잡고자 귀엽고 아기자기한 느낌의 일러스트를 통해
              표현하였습니다.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- page-body end -->

    <!-- footer start -->
    <footer
      class="
        my-footer
        d-flex
        flex-column
        align-items-center
        justify-content-between
        position-relative
        bottom-0
        text-white
        w-100
      "
    >
      <div class="logo-wrapper">
        <img class="logo-image" src="../../images/logo-white.png" alt="logo" />
      </div>
      <ul class="footer-list d-flex justify-content-around w-100">
        <li class="footer-list--item">
          <p class="footer-list--title">Division</p>
          <p class="footer-list--item">Hanyang Univ. ERICA</p>
          <p class="footer-list--item">Major of Design Technology</p>
        </li>
        <li class="footer-list--item">
          <p class="footer-list--title">Contact</p>
          <p class="footer-list--item">Phone +82 87090528</p>
          <p class="footer-list--item">E-mail. hriny1285@gmail.com</p>
        </li>
        <li class="footer-list--item">
          <p class="footer-list--title">Contact</p>
          <p class="footer-list--item">KakaoTalk ID. Taemtaem0718</p>
          <p class="footer-list--item">Instagram ID. rinn_0718</p>
        </li>
      </ul>
      <p class="copyright">ⓒ HYERINRYU</p>
    </footer>
    <!-- footer end -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
